---
http_interactions:
- request:
    method: post
    uri: https://api.pandapay.io/v1/customers
    body:
      encoding: UTF-8
      string: email=test_email%40PandaPay.io&source=QD4gs3Fonhc2AIanNdsqM5lygVf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d7152f455e3d54a4a2df2701844fd77c"
    body:
      encoding: UTF-8
      string: '{"id":"cus_0moNz0xVxp11OTPncj7w9Q","object":"customer","email":"test_email@PandaPay.io","livemode":false,"cards":[{"id":"card_QD4gs3Fonhc2AIanNdsqM5lygVf","object":"card","created":1505188106,"livemode":false,"customer":"cus_0moNz0xVxp11OTPncj7w9Q","last4":"1111"}]}'
  recorded_at: Tue, 12 Sep 2017 03:48:27 GMT
recorded_with: VCR 3.0.3
