---
http_interactions:
- request:
    method: post
    uri: https://api.pandapay.io/v1/grants
    body:
      encoding: UTF-8
      string: amount=5000&currency=USD&destination=95-4604782&restricted=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4302afce605e3db3093b50e3a6abf041"
    body:
      encoding: UTF-8
      string: '{"id":"gr_nSgbFokegMLSfIUU6jJbwg","object":"grant","created":1505187428,"livemode":false,"amount":5000,"status":"pending","currency":"usd","type":"npo","destination":"95-4604782","restriction":null}'
  recorded_at: Tue, 12 Sep 2017 03:37:08 GMT
recorded_with: VCR 3.0.3
