---
http_interactions:
- request:
    method: post
    uri: https://api.pandapay.io/v1/donations
    body:
      encoding: UTF-8
      string: amount=5000&currency=USD&destination=&platform_fee=0&receipt_email=firsttest%40PandaPay.io&restriction=&source=MkZO20xPRPf1segAvqxXihZPd1N
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ead3811244d6b87544c4a9d20361095d"
    body:
      encoding: UTF-8
      string: '{"id":"ch_0FKx_7S0-gbXB9UwDt9jkg","object":"donation","created":1505186984,"livemode":false,"charge_amount":5000,"platform_fee":0,"donation_after_fees":4775,"currency":"usd","payment_token":"MkZO20xPRPf1segAvqxXihZPd1N","customer":null,"grants":[],"receipt_email":"firsttest@PandaPay.io","destination":"","restriction":""}'
  recorded_at: Tue, 12 Sep 2017 03:29:45 GMT
recorded_with: VCR 3.0.3
