---
http_interactions:
- request:
    method: put
    uri: https://api.pandapay.io/v1/customers/cus_0moNz0xVxp11OTPncj7w9Q
    body:
      encoding: UTF-8
      string: email=new_test_email%40PandaPay.io
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50bd04e1ff55d414da3203f9b65f888d"
    body:
      encoding: UTF-8
      string: '{"id":"cus_0moNz0xVxp11OTPncj7w9Q","object":"customer","email":"new_test_email@PandaPay.io","livemode":false,"cards":[{"id":"card_QD4gs3Fonhc2AIanNdsqM5lygVf","object":"card","created":1505188106,"livemode":false,"customer":"cus_0moNz0xVxp11OTPncj7w9Q","last4":"1111"}]}'
  recorded_at: Tue, 12 Sep 2017 03:54:38 GMT
recorded_with: VCR 3.0.3
